<main [class.hidden]="isHidden" [class.fade-in]="isFadeIn" class="bg-[#fff] w-full h-[520px] mb-8 rounded-lg shadow-md p-8 pr-3 pb-14">
    <article #scrollContainer class="w-full h-full overflow-auto pt-1 pl-3 p-8">
        <section>
            <ng-container *ngFor="let message of messages">
                <div class="sent-message-wrap">
                    <div class="flex justify-end">
                        <section class="sent-bubble">
                            <p>{{ message.text }}</p>
                        </section>
                        <section class="user-profile">
                            <div class="profile">{{ getInitials() }}</div>
                        </section>
                    </div>
                </div>

                <div class="receive-message-wrap">
                    <div class="flex">
                        <section class="ai-profile">
                            <img src="assets/images/AI_Expert_GIF_Logo.gif" alt="">
                        </section>
                        <section class="receive-bubble">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </section>
                    </div>
                </div>
            </ng-container>
        </section>
    </article>
</main>
